/* BODY */
body
{
  background: #F8FCFE;
  padding-top: 150px;
}
/* NAVBAR */
.navbar-default
 {
  background-color: black;
}
.breadcrumb > li > a
{
  padding-left: 8px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.breadcrumb > li > a:hover
{
  font-family: Pristina;
  font-size: 30px;
}
.navbar-brand
{
  color: white;
  font-family: Pristina;
  font-size: 40px;
}
.breadcrumb
{
  background-color: black;
}
/* PAGE HOME */
.image
{
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
/* PAGE POSTS */
.image-posts
{
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
/*CARD */
.card
{
  text-align: justify;
  padding: 15px;
  margin: 20px;
}
.card-home-title .card-title
{
  font-family: Pristina;
  font-size: 80px;
}
.card-home-title .card-author
{
  float: right;
  font-size: 22px;
}
.card-title-posts
{
  text-align: center;
  font-family: Pristina;
  font-size: 50px;
}
.card-title
{
  font-family: Pristina;
  font-size: 30px;
  text-align: center;
}
.card-author
{
  font-weight: bold;
}
.card-report
{
  background-color: #E9EAEA;
}
.card-report .card-message
{
  color: red;
}
.card-comments .card-title-comments
{
  font-size: 20px;
}
.card-post  .card-title
{
  font-family: Pristina;
  font-size: 40px;
}
.card-post .card-author
{
  font-weight: bold;
}
.card-error
{
  color : red;
}
.nbr
{
  color: black;
}
.nbr_signal
{
  color: red;
}
/*FOOTER*/
.card-footer
{
  background-color: black;
  text-align: center;
  padding : 35px 0;
}
.card-footer-one
{
  font-family: Pristina;
  font-size: 1.5em;
  color : white;
}
